body{
    margin: 0;
    padding: 0 5px;
    background: url("../images/connected.jpg") no-repeat;
    background-size:  100% auto;
}

header{
    padding: 5%;
    margin-bottom: 10%;
}

h1, h2, h3, p, label{
    color: white;
}
p, label{
    font-size: 20px;
}
p{
    margin-bottom: 15%;
}

button.fa.fa-reorder{
    color: white;
    background-color: black;
    border: none;
    padding: 5px;
}
.region{
    position: absolute;
}
.top{
    top: 5px
}

.right{
    right: 5px;
}
.left{
    left: 5px;
}
.bottom{
    bottom: 15px;
}

ng-view{
    height: 100%;
    width: 100%;
}
.swipeable{
    padding: 0 3%

}
span.fa.fa-chevron-left, .fa.fa-chevron-right{
    position: absolute;
    top: 50%;

    color: white;
}
span.fa.fa-chevron-left{
    left: 0;
}
span.fa.fa-chevron-right{
    right: 0;
}

.socialmedia{
    background-color: white;
    opacity: 0.7;
    padding: 1%;
    border-radius: 5px;
}
.socialmedia img{
    display: inline-block;
    width: 20%;
    height: auto;
    margin: 2% 0 0 5%;
}
.socialmedia h2{
    display: inline-block;
    color: black;
    margin-left: 5%;
}
.socialmedia > .content{
    border: #dddddd solid 2px;
    opacity: 1.0;
}

.content p {
    color: black;
}

#sidenav{
    z-index: 100;
    width: 0;
    height: auto;

    background: white;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;

    transition: ease-in 0.5s;
}
#sidenav.open{
    width: 50%;
}





/* ANIMATIONS*/
.ng-enter, .ng-leave {
    position:absolute;
    left:30px; right:30px;
    transition:0.5s all ease;
    -moz-transition:0.5s all ease;
    -webkit-transition:0.5s all ease;
}

/* enter animation */
.ng-enter {
    -webkit-animation:slideInRight 0.5s both ease;
    -moz-animation:slideInRight 0.5s both ease;
    animation:slideInRight 0.5s both ease;
}

/* leave animation */
.ng-leave {
    -webkit-animation:slideOutLeft 0.5s both ease;
    -moz-animation:slideOutLeft 0.5s both ease;
    animation:slideOutLeft 0.5s both ease;
}

/*slide out to the left */
@keyframes slideOutLeft {
    to      { transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {
    to      { -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
    to      { -webkit-transform: translateX(-200%); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(200%); }
    to      { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
    from    { -moz-transform:translateX(200%); }
    to      { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
    from    { -webkit-transform:translateX(200%); }
    to      { -webkit-transform: translateX(0); }
}