<header class="text-center">
    <h1>{{headerTitle}}</h1>
</header>

<div class="text-center main">
    <p class="portrait">Register and use dozens of social media with a touch of a button</p>

    <section>
        <img src="assets/images/social-networks_a.png">
        <h2 class="portrait">Make the most of your social experience</h2>
    </section>
</div>

<footer class="navbar navbar-inverse navbar-absolute-bottom">
    <div>
        <a href="#/register" class="btn btn-block btn-lg btn-danger" >Sign In</a>
        <a href="#/login" class="btn btn-block btn-lg btn-primary">Log In</a>
    </div>
</footer>