<header class="text-center">
    <h1>{{headerTitle}}</h1>
</header>

<div class="text-center">
    <p>Register and use dozes of social media with a touch of a button</p>

    <p>
        <img src="assets/images/social-networks_a.png">
        Make the most of your social experience
    </p>


</div>

<footer class="region bottom left right">
    <div>
        <a href="#/register" class="btn btn-block btn-danger" >Sign In</a>
        <a href="#/login" class="btn btn-block btn-primary">Log In</a>
    </div>
</footer>