<header class="text-center">
    <h1>{{headerTitle}}</h1>
</header>
<div  data-autoscroll="true"> <!--data-ng-init="init()"-->
    <div style="display: none"> <!--NOT IMPLEMENTED YET-->
        <p class="btn btn-block disabled">login with Google</p>
        <p class="btn btn-block disabled">login with Facebook</p>
        <p class="btn btn-block btn-success" ng-click="showForm = !showForm">Login on your Account</p>
    </div>

    <div ng-show="showForm" >
        <form method="post" data-ng-submit="requestlogin()">
            <p class="error" data-ng-show="error.status" >{{error.message}}</p>
            <fieldset>
                <div class="form-group">
                    <label for="Email" >Email</label>
                    <input type="email" id="Email" class="form-control" data-ng-model="user.email">
                </div>
                <div class="form-group">
                    <label for="password" >password</label>
                    <input type="password" id="password" class="form-control" data-ng-model="user.password">
                </div>


                <div class="mcheck"><input type="checkbox" id="rememberme" ng-model="user.rememberme"> <label for="rememberme">Remember Me</label></div>
            </fieldset>

            <input type="submit" class="btn btn-primary btn-block" value="Log In">
        </form>
    </div>
</div>