<header class="text-center">
    <h1>{{headerTitle}}</h1>
</header>

<div>
    <p class="btn btn-block btn-danger">login with Google</p>
    <p class="btn btn-block btn-primary">login with Facebook</p>
    <p class="btn btn-block btn-success" ng-click="showForm = true">Login on your Account</p>
</div>

<div ng-show="showForm">
    <form action="" method="post">
        <fieldset>
            <label for="Email" class="form-group">Email</label>
            <input type="text" id="Email" class="form-control">

            <label for="password" class="form-group">password</label>
            <input type="password" id="password" class="form-control">

            <label><input type="checkbox" checked>Remember Me</label>
        </fieldset>

        <input type="submit" class="btn btn-primary btn-block" value="Log In">
    </form>
</div>