<header class="text-center">
    <h1>{{headerTitle}}</h1>
    <div class="sidenav" pic="user.profilepic" name="user.firstname" logout="logout()"></div>
</header>

<span class="fa fa-chevron-left" ></span>
<div  data-ng-swipe-left="nextMedia()" data-ng-swipe-right="prevMedia()" class="swipeable" data-ng-init="loadMyMedia()">
    <div class="socialmedia">
        <img src="{{media.img}}" alt="social media logo">
        <h2>{{media.name}}</h2>

        <div class="content">
            <p>display feeds here</p>
            <p>OUT of Scope</p>
            <p>more work than the project was intended for</p>
        </div>

        <div class="comment portrait">
            <textarea rows="4" name="comment" placeholder="What's on our mind?" />
            <input class="btn btn-primary btn-sm" type="submit" name="sendComment" value="send comment">
        </div>
    </div>
</div>
<span class="fa fa-chevron-right"></span>