<header class="text-center">
    <h1>{{headerTitle}}</h1>
    <div class="sidenav" pic="user.profilepic" name="user.firstname" logout="logout()"></div>
</header>

<div class="search" >
    <span class="fa fa-search" ></span>
    <input type="search" placeholder="search" name="search" ng-model="searchkey" data-ng-change="searchMedia(this)">
</div>

<span class="fa fa-chevron-left"></span>
<div class="swipeable" data-ng-init="loadNewMedia()" data-ng-swipe-right="prevMedia()" data-ng-swipe-left="nextMedia()">
    <div class="socialmedia" >
        <img src="{{media.img}}">
        <h2>{{media.title}}</h2>

        <div class="content">
            <p>{{media.description}}</p>
        </div>

        <footer>
            <button class="btn btn-primary btn-block" data-ng-show="media.id != -1" ng-click="saveUserToMedia()">Opslaan</button>
        </footer>
    </div>
</div>
<span class="fa fa-chevron-right" ></span>
