<header class="text-center">
    <h1>{{headerTitle}}</h1>
</header>

<div ng-swipe-Left="formprogress.continue()" ng-swipe-Right="formprogress.goBack()" >

    <span class="fa fa-chevron-left"  data-ng-hide="formprogress.page == 1"></span>

    <form action="../backend/handle-request.php/register" method="post" class="swipeable">
        <fieldset data-ng-show="formprogress.page == 1">
            <label class="form-group">First name</label>
            <input type="text" class="form-control " data-ng-model="persoon.firstname" placeholder="first name">

            <label class="form-group">Last name</label>
            <input type="text" class="form-control" data-ng-model="persoon.lastname" placeholder="last name">

            <label class="form-group">Email</label>
            <input type="text" class="form-control" data-ng-model="persoon.email" placeholder="email">
        </fieldset>

        <fieldset data-ng-show="formprogress.page == 2">
            <label class="form-group">Password</label>
            <input type="password" class="form-control" data-ng-model="persoon.password" placeholder="password">
            <label class="form-group">Confirm Password</label>
            <input type="password" class="form-control" data-ng-blur="formprogress.password.checkPasswords()" data-ng-model="formprogress.password.ctrlPassword"  data-ng-model-options="{ debounce: 1000 }" placeholder="confirm password">
            <i style="color:red" data-ng-show="formprogress.password.valid">Not the same password</i>
        </fieldset>

        <fieldset data-ng-show="formprogress.page == 3">
            <label>Gender</label>
            <div class="mradio">
                <input type="radio" id="sir" name="gender" checked>
                <label for="sir">Sir</label>
            </div>
            <div class="mradio">
                <input type="radio" id="lady" name="gender">
                <label for="lady">My lady</label>
            </div>

            <label>Birthday</label>
            <input type="date" class="form-control" id="birthday" data-ng-model="persoon.birthday">
        </fieldset>

        <div class="region bottom left right">
            <button class="btn btn-block btn-primary" data-ng-disabled="formprogress.password.valid" data-ng-click="formprogress.continue($event)" data-ng-hide="formprogress.page == 3">Continue</button>
            <input  class="btn btn-block btn-success" type="submit" ng-show="formprogress.page == 3">
            <button class="btn btn-block btn-danger " data-ng-click="print($event)">Cancel</button>
        </div>
    </form>


    <span class="fa fa-chevron-right" data-ng-hide="formprogress.page == 3"></span>
</div>
